.vs/

.vs/Presentations/v16/.suo
.vs/slnx.sqlite
.vs/Presentations/v16/.suo
*.sqlite

.vs/Presentations/v16/.suo
.vs/slnx.sqlite
*.sqlite
.vs/VSWorkspaceState.json
*.json

.vs/Presentations/v17/.wsuo
.vs/slnx.sqlite
*.sqlite
.vs/VSWorkspaceState.json
*.json

.vs/Presentations/FileContentIndex
.vs/slnx.sqlite
*.sqlite
.vs/VSWorkspaceState.json
*.json
/.vs/Presentations/CopilotIndices/17.14.719.50355/CodeChunks.db
